body{
    margin: 0;
}

.card{
    border: solid black 3px;
    width: 30px;
    height: 20px;
    margin: 5px;
}

.card:hover{
    cursor: pointer;
}

#addButton{
    border: solid black 2px;
    width: 30px;
    height: 20px;
    margin: 5px;
}

#addButton:hover{
    cursor: pointer;
}

#number{
    width: 50px;
    border: solid black 2px;
}

footer{
    margin: 10px;
}

main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cardContainer{
    border: solid black 2px;
    width: 420px;
    min-height: 100px;
    display: flex;
    flex-wrap: wrap;
}

#curtain{
    position: absolute;
    position: sticky;
    height: 100vh;
    width: 100%;
    display: none;
    background-color: rgba(165, 42, 42, 0.021);
    z-index: 5;
}
