body{
    margin: 0;
    position: relative;
}

.card{
    border: solid black 3px;
    text-align: center;
    width: 30px;
    height: 20px;
    margin: 5px;
}

.card:hover{
    cursor: pointer;
}

#addButton{
    border: solid black 2px;
    width: 30px;
    height: 20px;
    margin: 5px;
}

#addButton:hover{
    cursor: pointer;
}

#number{
    width: 50px;
    border: solid black 2px;
}

footer{
    margin: 10px;
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cardContainer{
    width: 420px;
    min-height: 100px;
    display: flex;
    flex-wrap: wrap;
}

#curtain{
    position: absolute;
    height: 100%;
    width: 100%;
    display: none;
    z-index: 5;
    background-color: rgba(255, 0, 0, 0.178);
}

#timer{
    font-size: 30px;
}

.noClick{
    background-color: green;
}

.noClick:hover{
    cursor: default;
}
